body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #000000;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 68px;
  color: #000;
  line-height: 34px;
  height: 6.5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6.5rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.results {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

.title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.playagain {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

/* Iphone 6/7/8 plus */
@media only screen and (max-width: 414px) {
  .square {
    height: 4rem;
    width: 4rem;
    font-size : 2rem;
  }


  .title {
    font-size: 1.5rem;
  }

  .body {
    margin: 0px;
  }
}

/* Iphone X and above */
@media only screen and (max-width: 376px) {
  .square {
    height: 3.75rem;
    width: 3.75rem;
    font-size: 2.5rem;
  }



}

@media only screen and (max-width: 321px) {
  .square {
    height: 3.25rem;
    width: 3.25rem;
  }



  .results {
    font-size: 1rem;
  }
}
